<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurboBay</title>
    <link rel="stylesheet" href="style4.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="icons">
        <a href="product-add.html"
          ><img src="img/plus-icon.png" alt="Icon 1"
        /></a>
        <a href="cart.html"
          ><img src="img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile.html"
          ><img src="img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>
    <h1 class="cart-header">Twoje Zakupy</h1>
    <div class="content-container">
      <div class="products-container">
        <div class="product">Product 1<br />$50</div>
        <div class="product">Product 2<br />$30</div>
        <div class="product">Product 3<br />$25</div>
        <div class="product">
          <img src="img/Qiyana.png" /> Product 4<br />$40
        </div>
      </div>
      <div class="summary">
        <h2>Summary</h2>
        <p>Total: $145</p>
        <p>Shipping: $10</p>
        <p><strong>Grand Total: $155</strong></p>
        <a href="#" class="order-button">Place Order</a>
      </div>
    </div>
  </body>
</html>
