<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurboBay</title>
    <link rel="stylesheet" href="/css/style4.css" id="stylesheet" />
    <link
      rel="stylesheet"
      href="/css/style4DarkMode.css"
      id="darkModeStylesheet"
      disabled
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href="product-add"><img src="/img/plus-icon.png" alt="Icon 1" /></a>
        <a href="index"
          ><img src="/img/ic-search-24px-1@1x.png" alt="Icon 1"
        /></a>
        <a href="cart"
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile"
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>
    <h1 class="cart-header">Twój koszyk</h1>
    <div class="content-container">
      <div class="products-container">
        <div class="table-container">
          <table class="part-table">
            <thead>
              <tr>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Cena</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <!-- Thymeleaf each loop to iterate over the parts -->
              <tr th:each="part : ${parts}">
                <td>
                  <img
                    th:src="'data:image/png;base64,' + ${part.firstImageBase64}"
                    alt="Part Image"
                  />
                </td>
                <td th:text="${part.title}"></td>
                <td th:text="${part.price}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="summary">
        <h2>Podsumowanie</h2>
        <p>Łącznie: <span th:text="${price}"></span></p>
        <p>Dostawa: $10</p>
        <a href="#" class="order-button">Złóż zamówienie</a>
      </div>
    </div>
    <button id="toggleModeButton">Przełącz motyw</button>

    <script src="/js/darkmode.js"></script>
    <script>
      function loadNewContent() {
        // Przekierowanie do innego pliku HTML
        window.location.href = "cart_eng";
      }
    </script>
    <button onclick="loadNewContent()">Załaduj inny plik HTML</button>
  </body>
</html>
