<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurboBay</title>
    <link rel="stylesheet" href="/css/style4.css" id="stylesheet" />
    <link
      rel="stylesheet"
      href="/css/style4DarkMode.css"
      id="darkModeStylesheet"
      disabled
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href="product-add"
          ><img src="/img/plus-icon.png" alt="Icon 1"
        /></a>
        <a href="cart"
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile"
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="background-container">
      <div class="captions">
        <div class="caption-container">
          <h1>Find Parts for Your Car</h1>
          <h3>Dozens of Brands, thousands of parts</h3>
        </div>
      </div>
      <div class="container">
        <form>
          <div class="input-container">
            <div class="label-and-select">
              <label for="brand">Brand:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="brand"
                  name="brand"
                  onchange="updateModels()"
                >
                  <option value="" disabled selected>Select brand</option>
                  <option
                    th:each="marka : ${marki}"
                    th:value="${marka.nazwaMarki}"
                    th:text="${marka.nazwaMarki}"
                  ></option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="model">Model:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="model"
                  name="model"
                  onchange="updateGenerations()"
                >
                  <option value="" disabled selected>Select model</option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="year">Generation:</label>
              <div class="select-container">
                <select class="custom-select" id="year" name="year">
                  <option value="" disabled selected>Select generation</option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="production-year">Production year:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="production-year"
                  name="production-year"
                >
                  <option value="" disabled selected>
                    Select production year
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="button" onclick="searchCars()">
            Szukaj
          </button>
        </form>
      </div>
    </div>

    <div class="categories-container">
      <div class="categories-header-container">
        <h2 class="categories-header">Browse Categories</h2>
      </div>
      <div class="categories-grid">
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Silnik" /></a>
          <button class="button1">Engine</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Felgi" /></a>
          <button class="button1">Rims</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Opony" /></a>
          <button class="button1">Tires</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Karoseria" /></a>
          <button class="button1">Bodywork</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Oświetlenie" /></a>
          <button class="button1">Lighting</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Wnętrze" /></a>
          <button class="button1">Interior</button>
        </div>
      </div>
    </div>

    <div class="sellers-container">
      <div class="sellers-header-container">
        <h2 class="sellers-header">Top rated users</h2>
      </div>
      <div class="sellers-grid">
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Silnik" /></a>
          <button class="button1">User1</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Felgi" /></a>
          <button class="button1">User1</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Opony" /></a>
          <button class="button1">User3</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Karoseria" /></a>
          <button class="button1">User3</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Oświetlenie" /></a>
          <button class="button1">User4</button>
        </div>
        <div class="category">
          <a href="#"><img src="/img/Qiyana.png" alt="Wnętrze" /></a>
          <button class="button1">User5</button>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      function updateGenerations() {
        var selectedModel = document.getElementById("model").value;
        var generations = /*[[${models}]]*/ [];

        var generationDropdown = document.getElementById("year");
        generationDropdown.innerHTML =
          '<option value="" disabled selected>Generacja</option>';

        for (var i = 0; i < generations.length; i++) {
          if (generations[i].nazwaModelu === selectedModel) {
            var option = document.createElement("option");
            option.value = generations[i].generacja;
            option.text = generations[i].generacja;
            generationDropdown.add(option);
          }
        }
      }

      function updateModels() {
        var selectedBrand = document.getElementById("brand").value;
        var models = /*[[${models}]]*/ [];

        var modelDropdown = document.getElementById("model");
        modelDropdown.innerHTML =
          '<option value="" disabled selected>Wybierz model</option>';

        for (var i = 0; i < models.length; i++) {
          if (models[i].marka.nazwaMarki === selectedBrand) {
            var option = document.createElement("option");
            option.value = models[i].nazwaModelu;
            option.text = models[i].nazwaModelu;
            modelDropdown.add(option);
          }
        }

        // After updating models, also update generations
        updateGenerations();
      }
  </script>
  <script th:inline="javascript">
    
    window.onload = function() {
        populateProductionYears();
    }

    function searchCars() {
      // Get selected filters
      var selectedBrand = document.getElementById('brand').value;
      var selectedModel = document.getElementById('model').value;
      var selectedYear = document.getElementById('year').value;
      var selectedProductionYear = document.getElementById('production-year').value;
  
      // Construct query string
      var queryString = '';
      if (selectedBrand) queryString += 'brand=' + encodeURIComponent(selectedBrand) + '&';
      if (selectedModel) queryString += 'model=' + encodeURIComponent(selectedModel) + '&';
      if (selectedYear) queryString += 'generation=' + encodeURIComponent(selectedYear) + '&';
      if (selectedProductionYear) queryString += 'productionYear=' + encodeURIComponent(selectedProductionYear) + '&';
  
      // Remove trailing '&' if present
      queryString = queryString.replace(/&$/, '');
  
      // Redirect to the second page with the query string
      window.location.href = '/parts-filter?' + queryString;
    }
  
    function populateProductionYears() {
        var currentYear = new Date().getFullYear();
        var productionYearDropdown = document.getElementById('production-year');
        
        productionYearDropdown.innerHTML = '<option value="" disabled selected>Wybierz rok produkcji</option>';
        
        for (var year = currentYear; year >= 1990; year--) {
            var option = document.createElement('option');
            option.value = year;
            option.text = year;
            productionYearDropdown.add(option);
        }
    }
      </script>
      

    </script>
      <button id="toggleModeButton">Przełącz motyw</button>
      <script src="/js/darkmode.js"></script>
      <script>
        function loadNewContent() {
          // Przekierowanie do innego pliku HTML
          window.location.href = "index";
        }
      </script>
      <button onclick="loadNewContent()">Załaduj inny plik HTML</button>
  </body>
</html>
