<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona logowania</title>
    <link rel="stylesheet" href="/css/style.css" id="stylesheet" />
    <link
      rel="stylesheet"
      href="/css/styleDarkMode.css"
      id="darkModeStylesheet"
      disabled
    />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href=""><img src="/img/ic-search-24px-1@1x.png" alt="Icon 1" /></a>
        <a href=""
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href=""
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="container">
      <div class="login-container">
        <div class="login">
          <h1>Login to your account</h1>

          <div class="button-container">
            <a class="apple">
              <img src="/img/apple-seeklogo.com.svg" alt="Apple Icon" />
              Log in using Apple
            </a>
          </div>
          <div class="button-container">
            <a class="google" href="google.html" target="_self">
              <img src="/img/google-icon.svg" alt="Google Icon" />
              Log in using Google
            </a>
          </div>
          <div class="button-container">
            <a class="facebook" href="fb.html" target="_self">
              <img src="/img/facebook-seeklogo.com.svg" alt="Facebook Icon" />
              Log in using Facebook
            </a>
          </div>
          <!-- login credentials -->
          <form class="login-form" action="/process-login" method="post">
            <div class="input-container">
              <label for="username"></label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Nazwa użytkownika"
              />
            </div>
            <div class="input-container">
              <label for="password"></label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Hasło"
              />
            </div>
            <div class="input-container">
              <div
                class="g-recaptcha"
                data-sitekey="6LfePBApAAAAAOV_KPaLYYSKJMObuuOlGvVhX_dk"
              ></div>
            </div>
            <div th:if="${param.error}" class="input-container">
              Inncorect user name or password
            </div>
            <div th:if="${param.captchaError}" class="input-container">
              Captcha verification is required!
            </div>
            <button class="login-button" type="submit">Zaloguj się</button>
          </form>
        </div>
        <div class="link-container">
          <div class="forgot-password">
            <a href="#">Forgot password</a>
          </div>
          <hr class="line" />
          <div class="register-link">
            Nie masz konta? <a href="registration">Sign up</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Google Button
        var googleButton = document.querySelector(".google");
        googleButton.addEventListener("click", function (event) {
          event.preventDefault();
          var videoURL = "/vid/rickroll.mp4";
          window.open(videoURL, "_blank");
        });

        // Apple Button
        var appleButton = document.querySelector(".apple");
        appleButton.addEventListener("click", function (event) {
          event.preventDefault();
          var videoURL = "/vid/rickroll.mp4";
          window.open(videoURL, "_blank");
        });

        // Facebook Button
        var facebookButton = document.querySelector(".facebook");
        facebookButton.addEventListener("click", function (event) {
          event.preventDefault();
          var videoURL = "/vid/rickroll.mp4";
          window.open(videoURL, "_blank");
        });
      });
    </script>

    <script src="/js/darkmode.js"></script>
    <script>
      function loadNewContent() {
        // Przekierowanie do innego pliku HTML
        window.location.href = "login";
      }
    </script>
    <button onclick="loadNewContent()">Załaduj inny plik HTML</button>
  </body>
</html>
