<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style6.css" />
  </head>

  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href="product-add"><img src="/img/plus-icon.png" alt="Icon 1" /></a>
        <a href="cart"
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile"
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>
    <div class="background-container">
      <div class="captions">
        <div class="caption-container">
          <h1>Znajdź Części Do Swojego Samochodu</h1>
          <h3>Dziesiątki Marek, tysiące części</h3>
        </div>
      </div>
      <div class="container">
        <form>
          <div class="input-container">
            <div class="label-and-select">
              <label for="brand">Marka:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="brand"
                  name="brand"
                  onchange="updateModels()"
                >
                  <option value="" selected>Wybierz markę</option>
                  <option
                    th:each="marka : ${marki}"
                    th:value="${marka.nazwaMarki}"
                    th:text="${marka.nazwaMarki}"
                  ></option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="model">Model:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="model"
                  name="model"
                  onchange="updateGenerations()"
                >
                  <option value="" selected>Wybierz model</option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="year">Generacja:</label>
              <div class="select-container">
                <select class="custom-select" id="year" name="year">
                  <option value="" selected>Generacja</option>
                </select>
              </div>
            </div>
            <div class="label-and-select">
              <label for="production-year">Rok produkcji:</label>
              <div class="select-container">
                <select
                  class="custom-select"
                  id="production-year"
                  name="production-year"
                >
                  <option value="" selected>
                    Wybierz rok produkcji
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="button" onclick="onFilterChange()">
            Szukaj
          </button>
        </form>
      </div>
    </div>
    <div class="table-container">
      <table class="part-table">
        <thead>
          <tr>
            <th>Zdjęcie</th>
            <th>Nazwa</th>
            <th>Cena</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <!-- Thymeleaf each loop to iterate over the parts -->
          <tr th:each="part : ${parts}" th:attr="data-part-id=${part.id}">
            <td>
              <img
                th:src="'data:image/png;base64,' + ${part.firstImageBase64}"
                alt="Part Image"
              />
            </td>
            <td th:text="${part.title}"></td>
            <td th:text="${part.price}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script th:inline="javascript">
      window.onload = function () {
        populateProductionYears();
      };

      function getQueryStringParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      const brandFilter = getQueryStringParameter("brand");
      const modelFilter = getQueryStringParameter("model");
      const generationFilter = getQueryStringParameter("generation");
      const productionYearFilter = getQueryStringParameter("productionYear");

      if (brandFilter != "" && brandFilter) {
        document.getElementById("brand").value = brandFilter;
        updateModels();
      }

      if (modelFilter != "" && modelFilter) {
        var modelSelect = document.getElementById("model");
        for (var i = 0; i < modelSelect.options.length; i++) {
          if (modelSelect.options[i].value === modelFilter) {
            modelSelect.selectedIndex = i;
            break;
          }
        }
        updateGenerations();
      }

      if (generationFilter != "" && generationFilter) {
        document.getElementById("year").value = generationFilter;
      }

      function updateGenerations() {
        var selectedModel = document.getElementById("model").value;
        var generations = /*[[${models}]]*/ [];

        var generationDropdown = document.getElementById("year");
        generationDropdown.innerHTML =
          '<option value="" selected>Generacja</option>';

        for (var i = 0; i < generations.length; i++) {
          if (generations[i].nazwaModelu === selectedModel) {
            var option = document.createElement("option");
            option.value = generations[i].generacja;
            option.text = generations[i].generacja;
            generationDropdown.add(option);
          }
        }
      }

      function updateModels() {
        var selectedBrand = document.getElementById("brand").value;
        var models = /*[[${models}]]*/ [];

        var modelDropdown = document.getElementById("model");
        modelDropdown.innerHTML =
          '<option value="" selected>Wybierz model</option>';

        for (var i = 0; i < models.length; i++) {
          if (models[i].marka.nazwaMarki === selectedBrand) {
            var option = document.createElement("option");
            option.value = models[i].nazwaModelu;
            option.text = models[i].nazwaModelu;
            modelDropdown.add(option);
          }
        }

        // After updating models, also update generations
        updateGenerations();
      }

      function onFilterChange() {
        // Get selected filter values
        const brand = document.getElementById("brand").value;
        const model = document.getElementById("model").value;
        const generation = document.getElementById("year").value;
        const productionYear = document.getElementById("production-year").value;

        // Construct the new URL with filter parameters
        const newUrl = `/parts-filter?brand=${brand}&model=${model}&generation=${generation}&productionYear=${productionYear}`;

        // Redirect to the new URL
        window.location.href = newUrl;
      }
      function populateProductionYears() {
        var currentYear = new Date().getFullYear();
        var productionYearDropdown = document.getElementById("production-year");

        productionYearDropdown.innerHTML =
          '<option value="">Rok produkcji</option>';

        for (var year = currentYear; year >= 1990; year--) {
          var option = document.createElement("option");
          option.value = year;
          option.text = year;
          productionYearDropdown.add(option);
        }

        if (productionYearFilter != "" && productionYearFilter) {
          productionYearDropdown.value = productionYearFilter;
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        // Add click event listener to each table row
        var rows = document.querySelectorAll(".part-table tbody tr");
        rows.forEach(function (row) {
          row.addEventListener("click", function () {
            // Get the part id from the data attribute or any other appropriate way
            var partId = row.getAttribute("data-part-id");

            // Redirect to the product-page with the part id
            window.location.href = "/product-page?id=" + partId;
          });
        });
      });
    </script>
  </body>
</html>
