<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurboBay</title>
    <link rel="stylesheet" href="/css/style4.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  </head>
  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href="product-add"><img src="/img/plus-icon.png" alt="Icon 1" /></a>
        <a href="index"
          ><img src="/img/ic-search-24px-1@1x.png" alt="Icon 1"
        /></a>
        <a href="cart"
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile"
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="pcontainer">
      <div class="image-container">
        <div class="product-image">
          <img src="/img/Qiyana.png" alt="" width="100%" height="100%" />
        </div>
      </div>
      <div class="product-container">
        <div class="product-info">
          <div class="title"><span th:text="${part.title}"></span></div>
          <div class="price"><span th:text="${part.price}"></span></div>
        </div>
        <div class="product-description">
          <h3>Opis</h3>
          <p>
            <span th:text="${part.description}"></span>
          </p>
        </div>
      </div>
      <div class="button-container"></div>
    </div>

    <div class="seller-info">
      <img src="/img/user.png" alt="Icon 3" />
      <p><span th:text="${user.login}"></span></p>
      <div class="sellers-opinion"><span th:text="${ocena}+'/5'"></span></div>
      <div class="cnt-button-container">
        <button class="contact-button">Napisz Wiadomość</button>
        <button class="contact-button2">Zadzwoń</button>
        <button class="contact-button3">Dodaj do koszyka</button>
      </div>
      <div id="map"></div>
    </div>
  </body>
  <script> const map = L.map('map').setView([51.505, -0.09], 13);
    map.scrollWheelZoom.enable();
    map.dragging.enable();
  
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  </script>
</html>
