<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil Użytkownika</title>
    <link rel="stylesheet" href="css/style5.css" id="stylesheet" />
    <link
      rel="stylesheet"
      href="/css/style5DarkMode.css"
      id="darkModeStylesheet"
      disabled
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <button id="toggleModeButton">Przełącz motyw</button>
      <div class="icons">
        <a href="product-add"><img src="/img/plus-icon.png" alt="Icon 1" /></a>
        <a href="index"
          ><img src="/img/ic-search-24px-1@1x.png" alt="Icon 1"
        /></a>
        <a href="cart"
          ><img src="/img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href="profile"
          ><img src="/img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="container">
      <div class="profile-container">
        <div class="section profile-section">
          <h1>Moje Dane</h1>
          <div class="user-info">
            <p>
              <strong>Imię:</strong> <span th:text="${daneUser.imie}"></span>
            </p>
            <p>
              <strong>Nazwisko:</strong>
              <span th:text="${daneUser.nazwisko}"></span>
            </p>
            <p>
              <strong>Nazwa Użytkownika:</strong>
              <span th:text="${user.login}"></span>
            </p>
            <p>
              <strong>Email:</strong> <span th:text="${daneUser.email}"></span>
            </p>
            <p>
              <strong>Numer telefonu:</strong>
              <span th:text="${daneUser.nrTelefonu}"></span>
            </p>
            <p>
              <strong>Adres:</strong>
              <span
                th:text="${daneUser.kodPocztowy + ' ' + daneUser.miasto + ' ' + daneUser.ulica + ' ' + daneUser.nrMieszkania}"
              ></span>
            </p>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="section small-section">
          <h2>Moje Zamówienia</h2>
          <div class="orders">
            <div class="table-container">
              <table class="part-table">
                <tbody id="order">
                  <tr
                    th:each="order : ${orders}"
                    th:attr="data-part-id=${order.id}"
                  >
                    <td>
                      <img
                        th:src="'data:image/png;base64,' + ${order.firstImageBase64}"
                        alt="Part Image"
                      />
                    </td>
                    <td th:text="${order.title}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="section small-section">
          <h2>Moje Ogłoszenia</h2>
          <div class="announcements">
            <div class="table-container">
              <table class="part-table">
                <tbody id="announcements">
                  <!-- Thymeleaf each loop to iterate over the parts -->
                  <tr
                    th:each="part : ${parts}"
                    th:attr="data-part-id=${part.id}"
                  >
                    <td>
                      <img
                        th:src="'data:image/png;base64,' + ${part.firstImageBase64}"
                        alt="Part Image"
                      />
                    </td>
                    <td>
                      <button class="button">Usuń</button>
                      <button class="button">Archiwizuj</button>
                    </td>
                    <td th:text="${part.title}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Add click event listener to each table row
        var rows = document.querySelectorAll(".part-table tbody tr");
        rows.forEach(function (row) {
          row.addEventListener("click", function () {
            // Get the part id from the data attribute or any other appropriate way
            var partId = row.getAttribute("data-part-id");

            // Redirect to the product-page with the part id
            window.location.href = "/product-page?id=" + partId;
          });
        });
      });
    </script>
    <script src="/js/darkmode.js"></script>
  </body>
</html>
