<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil Użytkownika</title>
    <link rel="stylesheet" href="/css/style5.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="icons">
        <a href=""><img src="img/ic-search-24px-1@1x.png" alt="Icon 1" /></a>
        <a href=""
          ><img src="img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href=""
          ><img src="img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="container">
      <div class="profile-container">
        <div class="section profile-section">
          <h1>Moje Dane</h1>
          <div class="user-info">
            <p><strong>Imię:</strong> John</p>
            <p><strong>Nazwisko:</strong> Doe</p>
            <p><strong>Nazwa Użytkownika:</strong> johndoe123</p>
            <p><strong>Email:</strong> john.doe@example.com</p>
            <p><strong>Numer telefonu:</strong> john.doe@example.com</p>
            <p><strong>Adres:</strong> john.doe@example.com</p>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="section small-section">
          <h2>Moje Zamówienia</h2>
          <div class="orders">
            <div class="order"></div>
          </div>
        </div>

        <div class="section small-section">
          <h2>Moje Ogłoszenia</h2>
          <div class="announcements">
            <div class="announcement"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Dodaj obsługę zdarzeń lub inne funkcje JavaScript, jeśli są potrzebne
      });
    </script>
  </body>
</html>
