<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejestracja</title>
    <link rel="stylesheet" href="style3.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="icons">
        <a href=""><img src="img/ic-search-24px-1@1x.png" alt="Icon 1" /></a>
        <a href=""
          ><img src="img/ic-shopping-cart-24px-1@1x.png" alt="Icon 2"
        /></a>
        <a href=""
          ><img src="img/ic-perm-identity-24px-1@1x.png" alt="Icon 3"
        /></a>
      </div>
    </nav>

    <div class="container">
      <div class="register-container">
        <h1>Rejestracja</h1>

        <!-- Sekcja danych osobowych -->
        <div class="section">
          <form action="#" method="POST" class="registration-form">
            <div class="personal-info">
              <div class="input-container">
                <label for="firstName">Imię:</label>
                <input type="text" id="firstName" name="firstName" required />
              </div>

              <div class="input-container">
                <label for="lastName">Nazwisko:</label>
                <input type="text" id="lastName" name="lastName" required />
              </div>

              <div class="input-container">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" name="username" required />
              </div>

              <div class="input-container">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
              </div>

              <div class="input-container">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required />
              </div>
            </div>
          </form>
        </div>
        <h1>Dane kontaktowe</h1>

        <!-- Sekcja danych adresowo-kontaktowych -->
        <div class="section">
          <form action="#" method="POST" class="registration-form">
            <div class="contact-info">
              <div class="input-container">
                <label for="phoneNumber">Numer telefonu:</label>
                <input
                  type="tel"
                  id="phoneNumber"
                  name="phoneNumber"
                  required
                />
              </div>

              <div class="input-container">
                <label for="city">Miasto:</label>
                <input type="text" id="city" name="city" required />
              </div>

              <div class="input-container">
                <label for="postalCode">Kod pocztowy:</label>
                <input type="text" id="postalCode" name="postalCode" required />
              </div>

              <div class="input-container">
                <label for="street">Ulica:</label>
                <input type="text" id="street" name="street" required />
              </div>

              <div class="input-container">
                <label for="apartmentNumber">Numer mieszkania:</label>
                <input
                  type="text"
                  id="apartmentNumber"
                  name="apartmentNumber"
                  required
                />
              </div>

              <div class="button-container">
                <button type="submit" class="register-button">
                  Zarejestruj się
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {});
    </script>
  </body>
</html>
