* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  margin: 0;
  background-color: #e6e6e6;
}
.navbar {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #5b7b7a;
}

.icons img {
  width: 30px;
  height: 30px;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  padding: 20px 20px;
  background-color: #fff;
  width: 50%;
  border: 2px solid #45a050;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.contact-form {
  border-radius: 5px;
  padding: 20px 20px;
  background-color: #fff;
  width: 50%;
  border: 2px solid #45a050;
  display: flex;
  flex-direction: column;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  background-color: #45af50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.submit:hover {
  background-color: #fff;
  border: 4px solid #45a050;
  color: #45a050;
  transform: scale(1.01);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

.header {
  color: #333;
  margin-top: 3%;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

section {
  flex-basis: calc(33.333% - 2rem);
  margin: 1rem;
}

section h2 {
  border-bottom: 2px solid #333;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

form label {
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

form button {
  align-self: flex-end;
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  section {
    flex-basis: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  section {
    flex-basis: 100%;
  }
}
