* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: rgb(187, 187, 187);
}

body {
  font-family: "Lato";
  margin: 0;
  background-color: rgb(41, 38, 38);
}

.navbar {
  background-color: #2a2a2a;
  border-top: 1px solid rgb(60, 60, 60);
  border-bottom: 1px solid rgb(60, 60, 60);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 6px rgb(60, 60, 60);
}

#toggleModeButton {
  margin-right: 30px;
  background-color: rgb(92, 92, 92);
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleModeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 30px;
  color: rgb(187, 187, 187);
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #2c4343;
}

.icons img {
  width: 30px;
  height: 30px;
}

.background-container {
  position: relative;
  overflow: hidden;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.captions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  align-items: center;
}

.caption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 60px;
  color: rgb(10, 10, 10);
  margin: 10px 0;
}

h3 {
  font-size: 40px;
  color: rgb(10, 10, 10);
  margin: 10px;
}

.background-container::before {
  content: "";
  background: url("/img/porsz.jpg") center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  background-color: rgba(18, 17, 17, 0.936);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label-and-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 12px;
  font-size: 30px;
  color: rgb(187, 187, 187);
}

select {
  width: 350px;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  margin-right: 12px;
  box-sizing: border-box;
  appearance: none;
  background-color: #afafaf;
  color: #2c2c2c;
  border: 1px solid #837c7c;
  border-radius: 4px;
  outline: none;
}

select:hover {
  background-color: #837c7c;
  color: #2c2c2c;
  border: 1px solid #135c14;
}

.button {
  width: 30%;
  height: 50px;
  font-size: 23px;
  background-color: #135c14;
  color: #1d1d1d;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(56, 53, 53, 0.5);
}

.button:hover {
  background-color: #135c14;
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgba(56, 53, 53, 0.5);
}

.button:active {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(56, 53, 53, 0.5);
}

.select-container {
  position: relative;
  width: 250px;
  margin-right: 12px;
}

.select-container::after {
  content: "\25BC"; /* Unicode strzałka w dół */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #1d1d1d;
  font-size: 20px;
}

.custom-select {
  width: 100%;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  appearance: none;
  background-color: #494949;
  color: #1c1c1c;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
}

.custom-select:hover {
  background-color: #555;
  color: #1d1d1d;
  border: 1px solid #135c14;
}

.categories-container,
.sellers-container {
  text-align: center;
  margin-top: 100px;
}

.categories-header-container,
.sellers-header-container {
  margin-bottom: 10px;
}

.categories-grid,
.sellers-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  text-align: center;
  width: 200px;
  margin: 0px 0px 0px 0px;
  border: #282626 solid 3px;
  border-radius: 10px 10px 10px 10px;
}

.categories-header,
.sellers-header {
  font-size: 48px;
  margin-bottom: 10px;
}

.category a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.category img {
  width: 100%;
  height: 100%;
  margin-bottom: -10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 0 10px rgba(56, 53, 53, 0.5);
}

.category:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

.button1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #135c14;
  color: #1d1d1d;
  border: none;
  border-radius: 0px 0px 7px 7px;
  cursor: pointer;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  background-color: #333;
}

.cart-header {
  font-size: 60px;
  color: #b7b7b7;
  margin-left: 200px;
  margin-top: 30px;
}

.product img {
  height: 75px;
  width: 75px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid #333;
  background-color: #202020;
  width: 50%;
  margin-top: 10%;
}

.product {
  align-items: left;
  display: flex;
  flex-direction: row;
  background-color: #333;
  border: 1px solid #1d1d1d;
  border-radius: 7px;
  padding: 20px;
  margin: 10px 0;
  margin-left: 20px;
  height: 100px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary {
  margin-top: 20%;
  background-color: #202020;
  border: 1px solid #333;
  padding: 20px;
  width: 25%; /* Zmiana szerokości */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla przycisku zamówienia */
.order-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #255a26;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.order-button:hover {
  background-color: #255a26;
}
.pcontainer {
  width: 70%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image-container {
  margin-left: 40%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  border: 1px solid #255a26;
  border-radius: 10px;
  height: 500px;
  width: 50%;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-container {
  margin-left: 40%;
  border: 1px solid #333333;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 500px;
  width: 50%;
  background-color: #fff;
}

.product-image {
  margin-top: 5%;
  height: 350px;
  width: 350px;
}

.product-container {
  margin-bottom: 10px;
  height: 500px;
  width: 50%;
  background-color: #515151;
}
.title {
  font-size: 50px;
  margin-bottom: 2%;
}
.price {
  font-size: 37.5px;
  font-weight: bold;
  margin-bottom: 5%;
}
.product-info {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
  margin-bottom: 10px;
}
.product-description h3 {
  font-size: 28px;
  color: rgb(190, 190, 190);
}

.product-description {
  font-size: 21px;
  margin-left: 5%;
  margin-right: 5%;
}

.product-description {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 40%;
}
.add-to-cart-btn {
  background-color: #255a26;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 100px;
  width: 500px;
}

.seller-info {
  background-color: #515151;
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 15%;
  border: 1px solid #303030;
  padding: 20px;
  float: right;
  width: 15%;
  height: 1000px;
  border-radius: 10px;
}

.seller-info img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.sellers-opinion {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  width: 100%;
  height: 75px;
  font-size: 20px;
  border: 1px solid #333;
}
.cnt-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20%;
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #255a26;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.contact-button2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 5%;
  background-color: #484848;
  border: 3px solid #255a26;
}
.contact-button3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #255a26;
  color: #fff;
  border: none;
  border-radius: 3px;
}
.contact-button:hover {
  background-color: #fff;
  border: 4px solid #255a26;
  color: #255a26;
  transform: scale(1.01);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}
.contact-button2:hover {
  transform: scale(1.01);
  border: 4px solid #255a26;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}
.contact-button3:hover {
  background-color: #fff;
  border: 4px solid #255a26;
  color: #255a26;
  transform: scale(1.01);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

@media only screen and (max-width: 2560px) {
  .container {
    max-width: 2000px;
  }
}

@media only screen and (max-width: 3840px) {
  .container {
    max-width: 2500px;
  }
}

@media only screen and (max-width: 2880px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }
}
