* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#toggleModeButton {
  margin-right: 30px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleModeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #5b7b7a;
}

.icons img {
  width: 30px;
  height: 30px;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center; /* Wyśrodkowanie kontenera */
  width: 100vw;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Dodane wyśrodkowanie wewnętrzne */
  width: 70%; /* Szerokość głównej sekcji profilu */
}

.section {
  max-width: 600px; /* Maksymalna szerokość sekcji */
  width: 100%; /* Rozciągnięcie sekcji na pełną szerokość */
  margin-bottom: 20px;
}

.profile-section,
.small-section {
  width: 100%; /* Rozciągnięcie kafelków na pełną szerokość */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-section h1 {
  margin-bottom: 20px;
}

.user-info,
.orders,
.announcements {
  text-align: left;
}

.user-info p,
.order p,
.announcement p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.order,
.announcement {
  margin-bottom: 20px;
}

.button {
  width: 90%;
  height: 40px;
  font-size: 23px;
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1920px) {
  .container {
    margin-top: 10%;
  }
}

@media (max-width: 2560px) {
  .container {
    margin-top: 5%;
  }
}

@media (max-width: 3840px) {
  .container {
    margin-top: 3%;
  }
}

@media (max-width: 2880px) and (max-height: 1800px) {
  .container {
    margin-top: 8%;
  }
}

/* Dodane style dla rozmieszczenia sekcji na ekranie */
@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse; /* Odwrócona kolejność, aby sekcje były pod sobą */
    align-items: center;
  }

  .profile-container {
    width: 100%; /* Zmieniona szerokość dla mniejszych ekranów */
  }

  .section {
    max-width: none;
  }
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part-table {
  justify-content: center;
  margin-top: 5%;
  position: relative;
  width: 80%;
  border-collapse: separate;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.part-table th,
.part-table td {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.part-table th {
  position: relative;
  background-color: #f2f2f2;
  font-weight: 500;
}

.part-table th::before,
.part-table th::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #343a40;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.part-table th::before {
  left: 0;
}

.part-table th::after {
  right: 0;
  background-color: white;
}

.part-table th:hover::before,
.part-table th:hover::after {
  opacity: 1;
}

.part-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.part-table tr:last-child td {
  border-bottom: none;
}

.part-table td:first-child img {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

.part-table tr:hover {
  border: 1px solid #4caf50;
}

@media screen and (max-width: 767px) {
  .part-table th,
  .part-table td {
    padding: 0.5rem;
  }

  .part-table td:first-child img {
    width: 50px;
  }
}
