body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: rgb(41, 38, 38);
}

.navbar {
  background-color: #2a2a2a;
  border-top: 1px solid rgb(60, 60, 60);
  border-bottom: 1px solid rgb(60, 60, 60);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 6px rgb(60, 60, 60);
}

h1 {
  color: #adadad;
}

h2 {
  color: #adadad;
}

#toggleLangButton {
  margin-right: 30px;
  background-color: rgb(92, 92, 92);
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleModeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#toggleModeButton {
  margin-right: 30px;
  background-color: rgb(92, 92, 92);
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleModeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

section {
  flex-basis: calc(33.333% - 2rem);
  margin: 1rem;
  color: #adadad;
}

section h2 {
  border-bottom: 2px solid #333;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

form label {
  margin-bottom: 0.5rem;
  color: #adadad;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: #040404;
  background-color: #727171;
}

form button {
  align-self: flex-end;
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  section {
    flex-basis: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  section {
    flex-basis: 100%;
  }
}
